<div class="post-thumbnail"><a routerLink="/post"><img src={{postInput?.featuredImage}} alt="..." class="img-fluid"></a></div>
<div class="post-details">
  <div class="post-meta d-flex justify-content-between">
    <div class="date meta-last">{{postInput?.postDate}}</div>
    <div class="category"><a routerLink="#">{{postInput?.category}}</a></div>
  </div><a routerLink="/post">
    <h3 class="h4">{{postInput?.title}}</h3></a>
  <div innerHTML="{{postInput?.post}}" class="text-muted"></div>
  <footer class="post-footer d-flex align-items-center"><a routerLink="#" class="author d-flex align-items-center flex-wrap">
      <div class="avatar"><img src="/assets/img/user.svg" alt="user image" class="img-fluid"></div>
      <div class="title"><span>{{postInput?.postedBy}}</span></div></a>
    <div class="date"><i class="icon-clock"></i> {{postInput?.postDate}}</div>
    <div class="comments meta-last"><i class="icon-comment"></i>{{postInput?.comments?.length}}</div>
  </footer>
</div>